<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><!-- build:title --> | UINOTE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
<!--#include virtual="/assets/include/timestamp/_uinote_styles.html" -->
<!--#include virtual="/assets/include/timestamp/_project_styles.html" -->
</head>

<body class="uinote">

<!--#include virtual="/assets/include/header.html" -->

<!--#include virtual="/assets/include/glovalnav.html" -->

<main class="uinote-main">

  <div class="uinote-container">

    <div class="uinote-page-header">
      <h1 class="uinote-page-heading"><!-- build:title --></h1>
      <small><!-- build:description --></small>
    </div>

    <div class="uinote-contents">

<!-- build:content -->

    <!-- /.uinote-contents --></div>

  <!-- /.uinote-container --></div>

<!-- /.uinote-main --></main>

<!--#include virtual="/assets/include/footer.html" -->

<!--#include virtual="/assets/include/timestamp/_uinote_scripts.html" -->
<!--#include virtual="/assets/include/timestamp/_project_scripts.html" -->
</body>
</html>
