// ------------------------------------------------
// UINOTE Header Style
// ------------------------------------------------

#{$prefix}{
  $self: &;
  &-header{
    align-items: center;
    background-color: $headerBg;
    border-bottom-color: $headerLine;
    border-bottom-style: solid;
    border-bottom-width: if($headerBg == $headerLine, 0, 4px);
    display: flex;
    padding: 20px 10px if($headerBg == $headerLine, 24px, 20px);
    width: 100%;
	  &__container{
  	  margin: 0 auto;
  	  max-width: $cantainer;
  	  position: relative;
  	  width: 100%;
	  }
  }

  // SiteID
  &-siteid{
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22200%22%20height%3D%2247%22%20viewBox%3D%220%200%20200%2047%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22#{$logoCol}%22%20d%3D%22M4.575%2011.168V41.88h21.957V11.17H4.575zm5.565-4.653c-.05-.303-.076-.614-.076-.93C10.064%202.5%2012.522%200%2015.554%200c3.03%200%205.49%202.5%205.49%205.584%200%20.317-.027.628-.077.93h5.565c2.527%200%204.575%202.084%204.575%204.654V41.88c0%202.57-2.048%204.655-4.575%204.655H4.575C2.048%2046.535%200%2044.45%200%2041.88V11.17C0%208.6%202.048%206.517%204.575%206.517h5.565zm5.413.93c1.01%200%201.83-.833%201.83-1.86%200-1.03-.82-1.862-1.83-1.862-1.01%200-1.83.833-1.83%201.86%200%201.03.82%201.863%201.83%201.863zm1.404%2021.26l21.35-21.348%203.29%203.29-21.35%2021.35-3.29-3.29zM14.2%2035.13l1.025-5.556%204.53%204.53L14.2%2035.13zm59.43-3.95c0%201.818-.255%203.436-.763%204.853-.508%201.418-1.232%202.612-2.172%203.583-.94.97-2.077%201.706-3.412%202.207-1.334.5-2.828.75-4.48.75-1.502%200-2.886-.238-4.152-.715-1.26-.478-2.35-1.183-3.27-2.115-.91-.932-1.63-2.088-2.14-3.467-.51-1.38-.76-2.97-.76-4.773V12.736c0-.092.03-.177.07-.254.05-.077.13-.14.24-.185.12-.046.26-.085.42-.115.17-.03.39-.047.66-.047.26%200%20.48.016.66.047.18.03.33.07.43.115.11.046.18.108.23.185.05.077.07.162.07.254V31.04c0%201.496.18%202.806.54%203.93.36%201.125.87%202.06%201.55%202.808.68.748%201.5%201.31%202.46%201.688.97.377%202.05.566%203.27.566%201.23%200%202.33-.18%203.29-.543.97-.37%201.78-.92%202.45-1.66.667-.74%201.18-1.66%201.535-2.76.357-1.1.535-2.39.535-3.87V12.73c0-.092.023-.177.07-.254.044-.074.12-.14.226-.18.11-.048.25-.087.436-.117s.4-.05.66-.05.476.01.66.04c.18.03.324.07.43.11.105.04.18.1.226.18.045.08.07.16.07.25v18.44zm13.168%2010.54c0%20.092-.023.176-.068.253-.046.077-.122.14-.228.185-.106.046-.246.085-.42.116-.175.03-.4.046-.672.046-.257%200-.477-.015-.66-.046-.18-.03-.325-.07-.43-.116-.108-.046-.183-.108-.23-.185-.044-.077-.067-.16-.067-.254V12.73c0-.092.026-.177.08-.254.053-.077.136-.14.25-.185.113-.04.257-.08.432-.11.174-.03.383-.04.625-.04.273%200%20.497.02.67.05.176.03.316.07.422.12.106.05.182.11.228.19.045.08.068.17.068.26v28.98zm31.593-.902c0%20.277-.04.508-.12.693-.08.19-.19.34-.32.46-.12.12-.27.2-.43.24-.16.05-.31.07-.44.07h-.57c-.3%200-.58-.04-.83-.11s-.49-.21-.72-.4c-.23-.19-.47-.45-.7-.77s-.49-.74-.78-1.25L103.1%2021.08c-.516-.91-1.035-1.848-1.56-2.81-.52-.966-1.02-1.9-1.49-2.81h-.02c.014%201.123.022%202.275.022%203.454v22.82c0%20.09-.02.177-.07.254-.042.075-.12.14-.224.183-.104.05-.245.09-.42.12-.173.03-.4.05-.67.05-.26%200-.48-.01-.66-.04-.182-.03-.326-.07-.432-.112-.105-.045-.18-.107-.226-.184-.046-.072-.07-.16-.07-.25v-28c0-.552.146-.933.434-1.14.29-.21.57-.313.84-.313h1.14c.365%200%20.668.03.91.095.245.06.465.168.66.315.2.14.39.35.58.62.19.27.4.61.628%201.03l7.94%2014.3c.5.892.975%201.75%201.422%202.576.45.82.883%201.63%201.31%202.423.423.792.844%201.574%201.26%202.344.417.77.83%201.55%201.24%202.337h.023c-.02-1.294-.024-2.642-.024-4.044V12.83c0-.094.024-.178.07-.255.045-.077.12-.143.227-.197.11-.054.25-.092.42-.115.178-.024.4-.035.67-.035.247%200%20.46.01.64.035.18.023.327.06.434.115.11.054.188.12.24.197.056.077.08.16.08.254v27.98zm34.15-13.938c0%202.39-.27%204.55-.8%206.49-.54%201.934-1.34%203.58-2.42%204.946-1.07%201.365-2.43%202.416-4.07%203.156-1.63.74-3.54%201.11-5.73%201.11s-4.06-.35-5.63-1.052c-1.57-.7-2.86-1.703-3.86-3.005-1.01-1.302-1.75-2.893-2.23-4.773s-.72-4-.72-6.357c0-2.342.27-4.47.8-6.38.53-1.91%201.34-3.54%202.42-4.887%201.08-1.348%202.44-2.392%204.07-3.13%201.63-.74%203.55-1.11%205.75-1.11%202.14%200%203.99.346%205.55%201.04%201.56.693%202.854%201.686%203.88%202.98%201.02%201.295%201.78%202.867%202.27%204.716.496%201.85.74%203.936.74%206.263zm-2.95.26c0-1.77-.16-3.43-.49-4.98-.32-1.55-.86-2.896-1.61-4.044-.75-1.147-1.74-2.05-2.99-2.703-1.24-.655-2.78-.982-4.62-.982-1.82%200-3.35.35-4.6%201.03-1.25.69-2.26%201.61-3.05%202.76-.78%201.16-1.34%202.51-1.68%204.05-.34%201.54-.51%203.17-.51%204.88%200%201.82.16%203.51.47%205.08.31%201.57.84%202.93%201.58%204.08.74%201.16%201.74%202.06%202.98%202.72%201.24.66%202.8.98%204.66.98%201.85%200%203.41-.35%204.67-1.05%201.258-.7%202.274-1.64%203.048-2.82.77-1.18%201.326-2.54%201.66-4.09.333-1.55.5-3.18.5-4.89zm28.09-13.566c0%20.2-.01.378-.04.53-.03.156-.07.28-.13.38-.06.1-.13.18-.22.234-.09.054-.19.08-.295.08h-8.78V41.72c0%20.092-.024.176-.07.253-.045.077-.12.14-.227.185-.106.046-.25.085-.432.116-.18.03-.4.046-.66.046s-.473-.015-.66-.046c-.18-.03-.32-.07-.43-.116-.102-.046-.18-.108-.223-.185-.047-.077-.07-.16-.07-.254V14.79h-8.78c-.12%200-.223-.027-.307-.08-.08-.054-.156-.132-.217-.232-.06-.1-.107-.226-.137-.38-.03-.154-.048-.33-.048-.532%200-.215.012-.404.043-.566.03-.162.075-.296.136-.404.06-.108.13-.19.215-.243.08-.054.182-.08.303-.08h20.333c.107%200%20.205.026.296.08.09.054.166.135.23.243.06.108.105.242.135.404.03.162.048.35.048.566zM200%2040.934c0%20.2-.015.38-.045.53-.03.155-.08.286-.148.394-.07.108-.148.19-.24.242-.09.052-.19.08-.295.08h-13.784c-.273%200-.554-.105-.842-.31-.288-.21-.432-.59-.432-1.147V13.73c0-.555.144-.936.432-1.144.288-.208.57-.312.842-.312h13.58c.106%200%20.204.027.295.08.09.055.167.136.228.244.06.108.11.242.14.404.03.162.05.35.05.566%200%20.2-.01.378-.04.532-.03.154-.07.28-.13.38-.06.1-.13.18-.22.232-.09.054-.19.08-.29.08H187V25.31h10.417c.12%200%20.23.026.32.08.09.054.167.13.228.23.06.102.106.233.136.394.03.162.04.35.04.567%200%20.2-.01.38-.04.52-.03.15-.08.27-.14.36-.06.09-.14.16-.23.21-.09.05-.19.07-.31.07H187v11.92h12.28c.107%200%20.206.03.297.08.09.06.17.14.24.24.068.1.117.23.148.4.03.16.046.35.046.57z%22%2F%3E%3C%2Fsvg%3E);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 150px;
    a{
      display: block;
      img{
        vertical-align: bottom;
        visibility: hidden;
      }
    }
  }

	// Description
	&-description{
		color: #333;
		font-size: $txt-s;
		line-height: 1.25;
		margin: 0 0 0 5px;
    display: block;
    max-width: 80%;
	}

	// Menu Button
	&-menu-btn{
		$self: &;
    align-items: center;
	  background-color: $menuBtnBg;
    border: if($menuBtnBg == #fff, 1px, 0) solid lighten($menuBtnLine, 30%);
	  color: #333;
    display: flex;
	  height: 38px;
    justify-content: center;
	  margin: -19px 0 0;
    padding: 0;
	  position: absolute;
    right: 0;
	  top: 50%;
	  width: 38px;
    cursor: pointer;
		&:active,
		&:focus{
			cursor: pointer;
		}
    // Icon Style
    #{$prefix}-icon{
      font-size: 2.8rem;
      fill: if($menuBtnBg == #fff, $menuBtnLine, #fff);
    }
    // Open Style
		.is-active &{
      display: none;
    }
	}

}
