// ------------------------------------------------
// UINOTE Icons
// ------------------------------------------------

#{$prefix}{
  &-icon{
    font-size: 1em;
    vertical-align: middle;
    align-self: center;
    display: inline-flex;
    height: 1em;
    width: 1em;
    svg{
      height: 1em;
      width: 1em;
    }
  }
}
