<!-- build:title -->Forms<!-- /build:title -->
<!-- build:description -->Forms Data Input Example<!-- /build:build:description -->
<!-- build:content -->
<section class="uinote-section">
<div class="uinote-module" id="sample-imput-text">
<h2 class="uinote-module__name">InputText</h2>
<div class="uinote-module__doc">
<!--===== Module Docs =====-->
<p>sample input text sytle</p>
<!--===== / Module Docs =====-->
</div>
<!--===== Module Data =====-->
<!-- Module Data Usage -->
<div class="uinote-module__data" data-format="usage">
  <dl>
    <dt>ClassName</dt>
    <dd>.sample-form__control</dd>
  </dl>
</div>
<!-- Module Data Notes -->
<div class="uinote-module__data" data-format="notes">
  <ul>
    <li>Commentary text Commentary text Commentary text</li>
  </ul>
</div>
<!--===== / Module Data =====-->
<div class="uinote-module__preview uinote-module__preview--tiny" data-code-display="true">
<!--===== Example Preview =====-->
<!-- input type="text" -->
<label class="sample-form">
  <span class="sample-form__caption">Label Caption</span>
  <input class="sample-form__control" type="text" name="{name}" id="{id}" value="" placeholder="placeholder">
</label>
<!-- input type="text" -->
<label class="sample-form">
  <span class="sample-form__caption">Label Caption (disabled)</span>
  <input class="sample-form__control" type="text" name="{name}" id="{id}" value="" placeholder="placeholder (disabled)" disabled>
</label>
<!--===== / Example Preview =====-->
</div>
</div>
</section>


<section class="uinote-section">
<div class="uinote-module" id="sample-textarea">
<h2 class="uinote-module__name">TextArea</h2>
<div class="uinote-module__doc">
<!--===== Module Docs =====-->
<p>sample textarea sytle</p>
<!--===== / Module Docs =====-->
</div>
<!--===== Module Data =====-->
<!-- Module Data Usage -->
<div class="uinote-module__data" data-format="usage">
  <dl>
    <dt>ClassName</dt>
    <dd>.sample-form__control</dd>
  </dl>
</div>
<!-- Module Data Notes -->
<div class="uinote-module__data" data-format="notes">
  <ul>
    <li>Commentary text Commentary text Commentary text</li>
  </ul>
</div>
<!--===== / Module Data =====-->
<div class="uinote-module__preview uinote-module__preview--tiny" data-code-display="true">
<!--===== Example Preview =====-->
<!-- textarea -->
<label class="sample-form">
  <span class="sample-form__caption">Label Caption</span>
  <textarea class="sample-form__control" cols="20" rows="5" name="{name}" id="{id}" placeholder="placeholder"></textarea>
</label>
<!-- textarea -->
<label class="sample-form">
  <span class="sample-form__caption">Label Caption (disabled)</span>
  <textarea class="sample-form__control" cols="20" rows="5" name="{name}" id="{id}" placeholder="placeholder (disabled)" disabled></textarea>
</label>
<!--===== / Example Preview =====-->
</div>
</div>
</section>


<section class="uinote-section">
<div class="uinote-module" id="sample-select">
<h2 class="uinote-module__name">SelectMenus</h2>
<div class="uinote-module__doc">
<!--===== Module Docs =====-->
<p>sample select menus sytle</p>
<!--===== / Module Docs =====-->
</div>
<!--===== Module Data =====-->
<!-- Module Data Usage -->
<div class="uinote-module__data" data-format="usage">
  <dl>
    <dt>ClassName</dt>
    <dd>.sample-form__select</dd>
  </dl>
</div>
<!-- Module Data Notes -->
<div class="uinote-module__data" data-format="notes">
  <ul>
    <li>Commentary text Commentary text Commentary text</li>
  </ul>
</div>
<!--===== / Module Data =====-->
<div class="uinote-module__preview uinote-module__preview--tiny" data-code-display="true">
<!--===== Example Preview =====-->
<!-- select -->
<label class="sample-form">
  <span class="sample-form__caption">Label Caption</span>
  <select class="sample-form__select" name="{select-name1}" id="{select-id1}">
    <option value="">Option</option>
    <option value="{select-option1}">SelectOtion1</option>
    <option value="{select-option2}">SelectOtion2</option>
  </select>
</label>
<!-- select[disabled] -->
<label class="sample-form">
  <span class="sample-form__caption">Label Caption (disabled)</span>
  <select class="sample-form__select" name="{select-name2}" id="{select-id2}" disabled>
    <option value="">Option</option>
    <option value="{select-option1}">SelectOtion1</option>
    <option value="{select-option2}">SelectOtion2</option>
  </select>
</label>
<!--===== / Example Preview =====-->
</div>
</div>
</section>


<section class="uinote-section">
<div class="uinote-module" id="sample-raidio">
<h2 class="uinote-module__name">RadioButton</h2>
<div class="uinote-module__doc">
<!--===== Module Docs =====-->
<p>sample radio button sytle</p>
<!--===== / Module Docs =====-->
</div>
<!--===== Module Data =====-->
<!-- Module Data Usage -->
<div class="uinote-module__data" data-format="usage">
  <dl>
    <dt>ClassName</dt>
    <dd>.sample-form__radio</dd>
  </dl>
</div>
<!-- Module Data Notes -->
<div class="uinote-module__data" data-format="notes">
  <ul>
    <li>Commentary text Commentary text Commentary text</li>
  </ul>
</div>
<!--===== / Module Data =====-->
<div class="uinote-module__preview" data-code-display="true">
<!--===== Example Preview =====-->
<!-- select -->
<fieldset class="sample-form--fieldset">
  <legend class="sample-form__caption">Choose Your Favorite</legend>
  <!-- radio -->
  <label class="sample-form__radio">
    <input type="radio" name="{rdo-name}" id="{rdo-id1}" value="{rdo-val1}">
    <span class="sample-form__radio-label">RadioButton (unchecked)</span>
  </label>
  <!-- radio:checked -->
  <label class="sample-form__radio">
    <input type="radio" name="{rdo-name}" id="{rdo-id2}" value="{rdo-val2}" checked>
    <span class="sample-form__radio-label">RadioButton (checked)</span>
  </label>
  <!-- radio[disabled] -->
  <label class="sample-form__radio">
    <input type="radio" name="{rdo-name}" id="{rdo-id3}" value="{rdo-val3}" disabled>
    <span class="sample-form__radio-label">RadioButton (disabled)</span>
  </label>
</fieldset>
<!--===== / Example Preview =====-->
</div>
</div>
</section>


<section class="uinote-section">
<div class="uinote-module" id="sample-checbox">
<h2 class="uinote-module__name">CheckBox</h2>
<div class="uinote-module__doc">
<!--===== Module Docs =====-->
<p>sample check box sytle</p>
<!--===== / Module Docs =====-->
</div>
<!--===== Module Data =====-->
<!-- Module Data Usage -->
<div class="uinote-module__data" data-format="usage">
  <dl>
    <dt>ClassName</dt>
    <dd>.sample-form__checkbox</dd>
  </dl>
</div>
<!-- Module Data Notes -->
<div class="uinote-module__data" data-format="notes">
  <ul>
    <li>Commentary text Commentary text Commentary text</li>
  </ul>
</div>
<!--===== / Module Data =====-->
<div class="uinote-module__preview" data-code-display="true">
<!--===== Example Preview =====-->
<fieldset class="sample-form--fieldset">
  <legend class="sample-form__caption">Check these out</legend>
  <!-- checkbox -->
  <label class="sample-form__checkbox">
    <input type="checkbox" name="{chk-name}" id="{chk-id1}" value="{chk-val1}">
    <span class="sample-form__checkbox-label">CheckBox (unchecked)</span>
  </label>
  <!-- checkbox:checked -->
  <label class="sample-form__checkbox">
    <input type="checkbox" name="{chk-name}" id="{chk-id2}" value="{chk-val2}" checked>
    <span class="sample-form__checkbox-label">CheckBox (checked)</span>
  </label>
  <!-- checkbox[disabled] -->
  <label class="sample-form__checkbox">
    <input type="checkbox" name="{chk-name}" id="{chk-id3}" value="{chk-val3}" disabled>
    <span class="sample-form__checkbox-label">CheckBox (disabled)</span>
  </label>
</fieldset>
<!--===== / Example Preview =====-->
</div>
</div>
</section>
<!-- /build:content -->
