// ------------------------------------------------
// Project vertical
// ------------------------------------------------

#{$prefix}{

  &-v-align--top{
    vertical-align: top!important;
  }
  &-v-align--middle{
    vertical-align: middle!important;
  }
  &-v-align--bottom{
    vertical-align: bottom!important;
  }

}
